<div class="span6 offset4 text-center steamy-strudel">

	<h1 class="changing-the-header-font-hey-hey-hey">Hi I’m Justin</h1>

	<h2>My teacher Marco is trying to click this button</h2>

	<%= link_to 'Cool', '#', :class => 'btn btn-info btn-large' %>

</div>